* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Calibri";
  src: url("fonts/Calibri.ttf") format("truetype");
}

@font-face {
  font-family: "Calibri";
  src: url("fonts/calibril.ttf") format("truetype");
}

body {
  font-family: "Calibri", "Open Sans", sans-serif;
  font-weight: lighter;
}
header {
  background-color: #f8f4e8;
  padding: 1em;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}

h1 {
  margin-top: 0;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2.1px;
}

h2 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2.1px;
}

select {
  margin: auto;
}

#selectButton {
  background-color: rgba(226, 149, 182, 1);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  border-radius: 25px;
  border: none;
  padding: 0.5em;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 1.1px;
  font-family: "Calibri", "Open Sans", sans-serif;
  -webkit-appearance: none;
}

#selectCat {
  background-color: rgba(193, 193, 193, 1);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  border-radius: 25px;
  border: none;
  padding: 0.5em;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 1.1px;
  font-family: "Calibri", "Open Sans", sans-serif;
  -webkit-appearance: none;
}

.button {
  width: 50px;
}

#dataviz {
  text-align: center;
}
.node {
  cursor: pointer;
}
option:empty {
  display: none;
}
.node circle {
  fill: grey;
  stroke-width: 1.5px;
}

.node text {
  letter-spacing: 1.1px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.hide {
  display: none;
}

.info {
  position: absolute;
  /* margin-top: 100px; */
  background-color: white;
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.info h1 {
  padding: 10px;
  font-style: normal;
  font-weight: lighter;
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2.1px;
}

.infoitem {
  width: 50%;
  padding: 2em;
  margin-left: 6em;
  /* margin-top: 7em; */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  max-height: 25em;
  margin-bottom: 5em;
}

#functionstitle {
  font-size: 25px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 1.1px;
}

.subtext {
  margin-left: 6em;
  margin-right: 6em;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 1.1px;
}

#origin {
  padding-bottom: 2em;
  padding-top: 1em;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.category p {
  color: #003f32;
  margin: 0;
  font-style: normal;
  font-weight: lighter;
  font-size: 28px;
  letter-spacing: 2.1px;
}

.category img {
  padding-right: 1em;
}

.info circle {
  stroke-width: 3px;
}

.info svg {
  position: absolute;
  left: 0px;
  top: 0px;
}

.filter {
  width: "500px";
  margin: auto;
  text-align: center;
  padding: 0.5em;
}
.search {
  width: "500px";
  margin: auto;
  text-align: center;
  padding-top: 0.5em;
}

textarea {
  resize: none;
  width: 25em;
  font-family: "Calibri", "Open Sans", sans-serif;
  font-weight: lighter;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
  border-radius: 25px;
  padding-left: 1em;
  border: none;
  height: 2em;
  padding-top: 0.5em;
  margin-bottom: 0.75em;
}

button {
  font-family: "Calibri", "Open Sans", sans-serif;
  font-weight: lighter;
}

.related {
  transform: rotate(-90deg);
  overflow: visible;
  transform-origin: center;
  left: 0px;
  top: 0px;
  position: absolute;
  width: 493px;
  height: 37px;
  /* 
  text-align: center;
  font-family: Calibri;
  font-style: normal;
  font-weight: lighter;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2.1px; */
}

#close {
  text-align: right;
  padding-right: 3em;
  padding-top: 1em;
  font-size: 16pt;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 45%;
  text-align: right;
}

#cards text {
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: 2.1px;
}

.card {
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border-radius: 25px;
  width: 30%;
  text-align: center;
  flex-flow: column;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1px;
  height: fit-content;
  min-height: 4em;
}

text.name {
  cursor: pointer;
}
