* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #f8f4e8;
  padding: 1em;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}

h1 {
  margin-top: 0;
  text-align: center;
}

h2 {
  text-align: center;
}

select {
  margin: auto;
}

#dataviz {
  text-align: center;
}
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.hide {
  display: none;
}

.info {
  position: absolute;
  /* margin-top: 100px; */
  background-color: white;
  /* height: 500px;
  width: 600px;
  align-items: center; */
  margin: 0 auto;
  width: 90%;
  /* border: 3px solid #73ad21; */
  /* padding: 10px; */
}

.info h1 {
  padding: 10px;
}

.info p {
  padding: 10px;
}

.info circle {
  stroke: steelblue;
  stroke-width: 3px;
}
